name: unit tests

on: 
  push:
    branches:
      - '*'

permissions:
    checks: write
    
jobs:
  build:
    name: test
    runs-on: runner
    steps:
      - name: checkout
        uses: actions/checkout@v3.5.3

      - name: Install cmake
        run: |
          brew install cmake
          cmake --version
                   
      - name: build tests
        run: |
         cd projects
         cmake -B build -S .
         cmake --build build
         pwd
         cd build
         ctest -C checkin --output-junit unittest.xml
         ls -la
           
      - uses: test-summary/action@v2
        with:
          paths: "**/*.xml"
          show: "pass, fail, skip"
          output: test-summary.md
        if: always()

      - name: Upload test summary
        uses: actions/upload-artifact@v3
        with:
          name: test-summary
          path: test-summary.md
        if: always()
         

